<h1>Hi <%= /\A[^@\s]+/.match(@user.email) %></h1>
<p>
    Your BaguKira account access has been deleted.
    All projects and bug tickets have been deleted along with it in accordance with our policies.
</p>
<br/>
<p>Regards,</p>
<p>BaguKira Team</p>