<h1>Hi <%= /\A[^@\s]+/.match(@user.email) %></h1>
<p>
    Your access credentials have changed, if you did not action this change yourself please contact us as soon as possible.
</p>
<br/>
<p>Regards,</p>
<p>BaguKira Team</p>